/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/.well-known
/storage/*.key
/vendor
/config/octane.php
.env
.env.backup
.env-nodebug
.env.production
.env.staging
.phpunit.result.cache
.DS_store
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/bin/
/misc/

_ide_helper.php

.phpstorm.meta.php

composer-setup.php

/infra
Makefile
cron.log
.vapor/
vapor.yml
production.Dockerfile
staging.Dockerfile
/data
.env.staging-new
.env.prod
.env.production-new
.env.newStaging
